@font-face {
    font-family: "Helvetica-Neue-UL";
    src: local("Helvetica-Neue-UL"),
    local("Helvetica-Neue-UL"),
    url(HelveticaNeue-UltraLight.ttf);
}

body {
    color: #fff;
    font-family: 'Helvetica-Neue-UL';
    background-color: #111111;
}

a {
    color: #fff;
}

[ng-cloak], .ng-cloak {
    display: none !important;
}

/* Animation */

.ng-hide-add {
    animation: 0.6s fadeout ease;
}

.ng-hide-remove {
    animation: 0.6s fadein ease;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

/*.ng-enter,*/
/*.ng-leave {*/
    /*-webkit-transition: all 1s ease;*/
    /*-moz-transition: all 1s ease;*/
    /*-o-transition: all 1s ease;*/
    /*transition: all 1s ease;*/
/*}*/

/*.ng-enter{*/
    /*!* The animation preparation code *!*/
    /*opacity: 0;*/
/*}*/

/*.ng-enter.ng-enter-active {*/
    /*!* The animation code itself *!*/
    /*opacity: 1;*/
/*}*/

.kf-menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    z-index: 10;
}

.kf-nav {
    text-align: center;
    width: 300px;
    height: 200px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -170px; /* (width + padding)/2 */
    margin-top: -180px; /* (height + padding)/2 */
}

.kf-nav li {
    list-style-type: none;
    margin-bottom: 40px;
}

.kf-nav li a {
    font-size: 36px;
    line-height: 1.25;
    color: #777;
    text-transform: uppercase;
}

.kf-page-title,
.kf-page-description
{
    font-size: 27px;
    display: block;
}

.kf-page-title {
    color: #c1c1c1;
}

.kf-page-description {
    color: #f2f2f2;

}

.kf-videos-list iframe {
    margin-bottom: 30px;
}

.kf-container-main {
    width: 330px;
    height: 200px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px; /* (width + padding)/2 */
    margin-top: -180px; /* (height + padding)/2 */
}

.kf-bg {
    background: url("img/kf-bg-2.jpg") no-repeat fixed center;
    position: relative;
    z-index: -2;
    width: 100%;
    height: 100vh;
}

.kf-logo {
    background: url("img/kf-logo.png") no-repeat center;
    width: 139px;
    height: 138px;
    margin: 0 auto;
}

.kf-menu {

}

.kf-menu-icon {
    background: url("img/kf-menu.png") no-repeat bottom;
    width: 23px;
    height: 19px;
    position: absolute;
    top: 105px;
    right: 145px;
    z-index: 30;
    transition: background-position 0.6s;
}

.kf-menu-icon-close {
    background-position: top;
    height: 24px;
    transition:background-position 0.2s;
}

.kf-menu-icon:hover {
    cursor: pointer;
    opacity: .8;
}

.kf-main-border {
    position: fixed;
    z-index: -1;

    bottom: 50px;
    left: 50px;
    right: 50px;
    top: 50px;

    border: 1px solid #fff;
    opacity: 0.8;
}

.kf-main-title {
    font-size: 50px;

    color: rgba(255,255,255,0.75);
    /*margin-bottom: 30px;*/
}

.kf-main-description {
    font-size: 20px;
    margin-bottom: 0;
}

.kf-main-info {
    /*z-index: 10;*/
    /*position: relative;*/
}

/*.kf-main-button {*/
    /*color: #ffffff;*/
    /*border-color: rgba(255,255,255,0.5);*/
    /*border-radius: 0px;*/
    /*border-style: solid;*/
    /*border-width: 2px;*/
    /*border-left-width: 0px;*/
    /*border-right-width: 0px;*/
    /*font-size: 31px;*/
    /*padding: 2px 1px;*/
    /*text-decoration: none;*/
    /*transition: all 0.3s ease 0s;*/
/*}*/

/*.kf-main-button:hover {*/
    /*color: #000;*/
    /*border-color: #fff;*/
    /*background-color: #fff;*/
    /*text-decoration: none;*/
/*}*/

.kf-video {
    position: absolute;
    left: 0;
    top: 0;
    /*top: 40px;*/
    width: 100%;
    height: 100%
}

.kf-video iframe {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

/*.video .overlay {*/
    /*position: absolute;*/
    /*z-index: 2;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: rgba(255, 0, 0, 0.5);*/
/*}*/

.kf-page-works {
    padding: 80px 120px 0 120px;
}

/* ABOUT */

.kf-container-about {
    font-size: 28px;
    text-align: center;
    padding-top: 200px;
}

.kf-page-top-padding {
    padding-top: 80px;
}

/* CONTACTS */

.kf-container-contacts hr {
    width: 290px;
}

/* WORKS */

.kf-container-works {
    position: relative;
    z-index: 8;
}
