<div class="container-fluid kf-container-works">
    <div class="row">
        <div class="kf-page-top-padding col-md-offset-1">
            <span class="kf-page-title">
                <a href ng-click="go('/')">onekeyframe</a>
            </span>
            <span class="kf-page-description">works</span>
        </div>
    </div>
    <div class="row kf-page-works">
        <div class="col-md-4" ng-repeat="each in firebase.videos">
            <iframe
                    ng-src="{{linkComposer(each)}}"
                    width="100%" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="kf-main-border"></div>
</div>
